
<head>
    <link rel="stylesheet" href="/static/css/erro.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/erro.css') }}">
    <script src="https://kit.fontawesome.com/3a9ade90d2.js" crossorigin="anonymous"></script>
    {% block title %}<title>Erro 403</title>{% endblock %}
</head>
<div class="container">
    <div class="erro">
        <i class="fa-solid fa-lock" style="font-size: 200px;"></i>
        <h3>Erro 403</h3>
        <p> Acesso Negado!!!</p>
        <p>O acesso a essa pagina está proibido!!!</p>
        <p id="voltar">Voltar para<a href="/home">página inicial</a>!</p>
    </div>
</div>
