<head>
    <link rel="stylesheet" href="/static/css/erro.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/erro.css') }}">
    <link rel="stylesheet" href="/atividades_ExperienciaCriativa23.09/Modulo.3/Atividade25/static/css/erro.css">
    <script src="https://kit.fontawesome.com/3a9ade90d2.js" crossorigin="anonymous"></script>
    {% block title %}<title>Erro 408</title>{% endblock %}
</head>
<div class="container">
    <div class="erro">
        <i class="fa-solid fa-hourglass-start" style="font-size: 200px;"></i>
        <h3>Erro 408</h3>
        <p> Tempo de solicitação esgotado, tente novamente!!!</p>
        <p id="voltar">Voltar para<a href="/home">página inicial</a>!</p>
    </div>
</div>      
