<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="http://localhost:5000/del_user" method="post">
        <select name="user" class="input">
            {% for key, value in users.items() %}
                <option>{{ key }}</option>
            {% endfor %}
            <p><input type="submit" value="Deletar"></p>
        </select>
    </form>
</body>
</html>